#ContainerMain{
    margin-left: 15px;
}
.Main > .Container1{
    margin-left: 15px;
}
.Main > .Container2{
    margin-left: 15px;
}
.Main > .Container3{
    margin-left: 15px;
}
.Main.status2 > .Container1{
    margin-left: 15px;
}
.Main.status2 > .Container2{
    margin-left: 15px;
}
.Main.status2 > .Container3{
    margin-left: 15px;
}

.PoPuPs{
    position: absolute;
    z-index: 2000;
    left: 600px;
    top: 300px;
}